*{
   margin: 0 ;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Montserrat', sans-serif;
}
body{
   background-color: rgb(173, 173, 173);
}
.conteiner {
   height: 120vh;
   width: 50%;
   margin: 0 auto;
   background-color: white;
   
}

h1 {
   font-size: 44px;
   padding: 40px  215px  0;
display: flex  ;
}
.text {
   display: flex  ;
   align-items: center;
   justify-content: space-between;
   padding: 10px 230px 0  ;
}
.text3{
   display: flex;
}
.inputbox {
  
    width: 620px ;
    margin: 30px auto  ;
    display: flex;
    flex-wrap: wrap;
    
}

.inp  {
   height: 54px;
   width: 270px;
   border-radius: 10px;
   margin: 10px;
   padding-left: 10px;
  
}

.div p {
   margin-left: 20px;
}

button {
   height: 55px ;
   width: 280px;
   border-radius: 5px;
   background-color:  #4200FF;
   margin-left: 220px;
   border: none;
   transition: .5s;
   color: white;
}

button:hover {
   background-color: #4210ff;
   border-radius: 15px;
   color: aliceblue;
}